name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28.0.2"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test
      - run: gleam format --check src test
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/futar-at-home:latest .
      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository_owner }}/futar-at-home:latest
